@import './root.css';
@import './header.css';
@import './main.css';
@import './footer.css';
@import './title.css';
@import './photo-grid.css';
@import './cards.css';

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
  background-color: lightgrey;
  color: black;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 12px;
  }
}